.user_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background: var(--white-color);
    box-shadow: var(--main-shadow);
    border-radius: 20px;
    padding: 25px 0;
}

.user_card {
    width: 100%;
    height: 591px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-right: 1px solid #ccc;
}

.input-user_pass {
    margin: 7px 0 !important;
}

.user_card__info_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.user_card__user_name {
    padding-right: 10px;
}

.user_card__avatar_wrapper {
    position: relative;
    margin-left: 26px;
    margin-right: 15px;
}

.user_card__avatar_img__wrapper {
    filter: drop-shadow(0px 4px 87px rgba(135, 151, 236, 0.18));
}

.user_card__hello_text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: var(--light-black-color);
}

.dark .user_card__hello_text svg path {
    fill: #fff;
}

.user_card__name_text {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 130%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    letter-spacing: -0.03em;
    color: #5699FF;

}

.user_card__purpose {
    margin-top: 26px;
    margin-bottom: 6px;
}

.user_card__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user-page__avatar__template {
    min-width: 100px;
}

.user_card__menu__item {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    color: var(--dark-color);
    margin: 24px 0 24px 32px;
    position: relative;
}

.user_card__menu__item_orange {
    color: #F9744B;
    font-weight: 600;
}

.user_card__menu__item_gray {
    color: #838795;
}

.user_card__nav, .user_card__nav_wrapper {
    width: 100%;
}

.user_card__menu__item_active::after {
    content: '';
    width: 4px;
    height: 36px;
    background: #5699FF;
    right: 0;
    position: absolute;
}

@media screen and (max-width: 991px) {
    .user_container {
        flex-direction: column;
    }
    .user_card {
        height: auto;
    }
}
@media screen and (max-width: 768px) {

    .user_card__info_wrapper {
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {

    .user_card__info_wrapper {
        justify-content: normal;
    }

    .user {
        margin-bottom: -35px;
    }

    .input-user_pass {
        margin: 5px 0 !important;
    }

    .userpass .userdata__btn {
        margin-top: 24px !important;
        margin-bottom: 35px;
    }

    .user_container {
        margin-bottom: 35px;
    }
}